@charset "UTF-8";
.header {
  background: #FFFFFF; }

.header_top {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  line-height: 36px;
  color: #8c8c8c;
  background-color: #fafafa; }

.w1200 {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.h_t_l {
  float: left; }

.login_l {
  position: relative; }

.login_l span, .login_l a {
  font-family: "宋体";
  display: inline-block;
  vertical-align: middle;
  color: #8c8c8c;
  font-size: 12px; }

.login_l a {
  font-family: "宋体";
  display: inline-block;
  vertical-align: middle;
  color: #8c8c8c;
  font-size: 12px;
  text-decoration: none; }

.login_l .login_l_l {
  padding-right: 10px; }

.login_l .lee {
  background: #dfdfdf none repeat scroll 0 0;
  height: 14px;
  overflow: hidden;
  padding: 0;
  width: 1px; }
.h_t_r {
  float: right; }

.h_t_r ul li {
  float: left;
  height: 36px;
  line-height: 36px;
  position: relative;
  z-index: 8; }

.h_t_r a {
  font-family: "宋体";
  padding: 0 10px;
  line-height: 36px;
  display: inline-block;
  vertical-align: middle;
  color: #8c8c8c;
  font-size: 12px;
  text-decoration: none; }

.h_t_r .line {
  background: #dfdfdf none repeat scroll 0 0;
  height: 14px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  display: inline-block;
  vertical-align: middle; }

.h_t_r .call_harry {
  background: url(../img/icon_list.png) no-repeat 0 -38px;
  width: 14px;
  height: 13px;
  margin: 0 4px 0 10px;
  display: inline-block;
  vertical-align: middle; }

.h_t_r .call_call {
  padding-right: 10px;
  font-size: 12px; }

.h_t_r .dowm_load_app {
  position: absolute;
  top: 36px;
  left: -10px;
  z-index: 15;
  background-color: #fff;
  border-top: 1px solid #dfdfdf; }

.down_load_app_box {
  border: 1px solid #f6f6f6;
  box-shadow: 0 0 1px #f6f6f6;
  padding: 5px;
  margin-top: 5px; }

.h_t_r .app_top {
  position: absolute;
  top: -2px;
  width: 12px;
  height: 8px;
  background: url(http://ecimg.happigo.com/resource/web/images/detail_icon_list.png) no-repeat -234px -592px;
  left: 50%;
  margin-left: -6px; }

.down_load_app_box p {
  height: 1.2em;
  line-height: 1.2em;
  text-align: center;
  color: #3b3b3b; }

.down_load_app_tou {
  background: url(http://ecimg.happigo.com/resource/web/images/detail_icon_list.png) no-repeat scroll -157px -696px;
  height: 6px;
  width: 10px;
  margin-left: 5px;
  display: inline-block; }

.h_r_huiyuan {
  position: absolute;
  top: 35px;
  left: -1px;
  z-index: 5;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  background-color: #fff;
  text-align: left; }

.h_r_huiyuan a {
  height: 25px;
  line-height: 25px; }
//提交订单模块
.top_login{
    border-bottom: 2px solid #e6e6e5;
    width: 100%;
    background-color: #fff;
}
.top_login_box{
    padding-top: 30px;
    padding-bottom: 19px;
}
.w1200{
    width: 1200px;
    margin: 0 auto;
    zoom: 1;
}
.top_login_left{
    float: left;
    width: 74px;
    margin-right: 7px;
}
.top_right_shop{
    float: right;
    position: relative;
    margin-top: 19px;
    z-index: 3;
}
.top_right_img{
    background: url(../img/shop.png) no-repeat 0 0;
    height: 42px;
    margin-top: 40px;
    width: 415px;
}
//空空如也
.w1200{
    width: 1200px;
    margin: 0 auto;
}
.car_no_goods_box{
    zoom: 1;
}
.car_no_goods{
    width: 700px;
    margin: 0 auto;
    padding-top: 40px;
    padding: 18px 0;
    text-align: center;
    font-size: 14px;
    color: #666666;
    font-family: "宋体";
}
.car_no_goods img{
    float: left;
}
.no_goods{
    float: left
}
.no_goods_t{
    padding-top: 65px;
    font-size: 18px;
    color: #000000;
}
.car_no_goods a{
    text-decoration: none;
}
.no_goods_buy{
    margin-left: 79px;
    margin-top: 35px;
    display: block;
    height: 49px;
    width: 190px;
    background-color: #94193f;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 49px
}
//-----添加列表样式
//.car_top{
//  width: 1200px;
//  background:  #efefef;
//  border: 1px solid #dadada;
//  margin-top: 20px;
//  height: 35px;
//  line-height: 35px;
//  overflow: hidden;
//}
//.top_left{
//  float: left;
//}
//.select_all{
//  float: left;
//  padding-left: 12px;
//  width: 550px;
//  vertical-align: middle;
//}
//.select_all span{
//  color: #000;
//  display: inline-block;
//  font-family: "宋体";
//  font-size: 12px;
//  line-height: 35px;
//  padding-left: 4px;
//}
//.top_left_r{
//  padding-left: 100px;
//}
//.car_top_right{
//  float: left;
//  font-family: 宋体;
//  text-align: center;
//  color: #000;
//  display: inline-block;
//  font-size: 12px;
//  line-height: 35px;
//}
//.car_top .s1{
//  width: 165px;
//  text-align: center;
//}
//.car_top .s2{
//  width: 115px;
//  padding: 0 50px
//}
//.car_top .s3{
//  width: 150px;
//}
//.car_top .s4{
//  width: 95px;
//}
//.selef_ying{
//  padding: 19px 0 10px 12px;
//  border-bottom: 2px solid #b2b2b2;
//  height: 16px;
//  width: 1180px;
//  float: left;
//  line-height: 16px;
//}
//.ying_left{
//  float: left;
//}
//.ying_left input{
//  float: left;
//}
//.selef_ying .span_1{
//  background-color: #e60012;
//  padding: 0px 3px;
//  border-radius: 5px;
//  float: left;
//  color: #fff;
//  margin-left: 10px;
//}
//.selef_ying .span_2{
//  color: #333333;
//  text-decoration: none;
//  float: left;
//  font-size: 14px;
//  font-weight: bold;
//  padding-left: 5px;
//}
//.ying_right{
//  float: right;
//  color: #333;
//  font-size: 14px;
//  height: 24px;
//  line-height: 24px;
//  overflow: hidden;
//  padding: 0 10px 0 0;
//}
//.shoping{
//  border-bottom: 1px solid #e5e5e5;
//  border-left: 1px solid #fdf4f7;
//  border-right: 1px solid #fdf4f7;
//  padding: 25px 0;
//  float: left;
//  width: 100%;
//}
//.shoping_left{
//  float: left;
//  width: 573px;
//  height: 80px;
//}
//.shoping_left input{
//    padding-top: 57px;
//    text-align: center; 
//    vertical-align: middle;
//    display: inline-block;
//    float: left;
//    margin: 35px 15px;
//}
//.shoping_left span{
//  display: block;
//  margin-top: 23px;
//  color: #333;
//  font-size: 13px;
//}
//.shoping_left img{
//  float: left;
//  width: 80px;
//  position: relative;
//  height: 80px;
//}
//.shoping_left span{
//  display: block;
//  float: left;
//  margin-left: 12px;
//  width: 420px;
//}
//.shoping .price{
//  width: 165px;
//  text-align: center;
//  float: left;
//  padding: 25px 0;
//  color: #000;
//  line-height: 0.9em;
//}
//.add_reduce{
//  padding-left: 63px;
//  width: 100px;
//  padding-right: 50px;
//  float: left;
//  padding: 25px 0;
//}
//.quantify_form{
//  width: 100%;
//  overflow: hidden;
//}
//.a_decrease{
//  background: #fff;
//  border-bottom: 1px solid #e5e5e4;
//  border-left: 1px solid #e5e5e5;
//  border-top: 1px solid #e5e5e5;
//  color: #999;
//  display: block;
//  float: left;
//  text-decoration: none;
//  font-size: 20px;
//  height: 23px;
//  line-height: 21px;
//  text-align: center;
//  width: 21px;
//  font-weight: bold;
//}
//.itxt{
//  font: 12px/20px Tahoma;
//  color: #777;
//  background-color: #FFF;
//  vertical-align: middle;
//  display: inline-block;
//  height: 19px;
//  padding: 2px 4px;
//  border: solid 1px #CCC;
//  outline: 0 none;
//  text-align: center;
//  width: 40px;
//  float: left;
//}
//.a_add{
//  background: #fff;
//  border-bottom: 1px solid #e5e5e4;
//  border-right: 1px solid #e5e5e4;
//  border-top: 1px solid #e5e5e4;
//  color: #999;
//  display: block;
//  float: left;
//  font-size: 16px;
//  height: 23px;
//  line-height: 23px;
//  text-align: center;
//  width: 21px;
//  font-weight: bold;
//  text-decoration: none;
//}
//.price_2{
//  float: left;
//  padding-left: 40px;
//  padding-top: 25px;
//  width: 150px;
//  text-align: center;
//  color: #c41f3a;
//  font-size: 16px;
//  font-weight: bold;
//}
//.delecate{
//  width: 95px;
//  text-align: center;
//  float: right;
//  padding: 25px 0;
//}
//.over_all{
//  height: 62px;
//  width: 100%;
//  overflow: hidden;
//  border: 1px solid #e5e5e5;
//  overflow: hidden;
//  height: 60px;
//  margin-top: 20px;
//}
//.over_left{
//  float: left;
//  padding-left: 14px;
//  padding-top: 20px;
//}
//.over_left input{
//  vertical-align: middle;
//  margin: 0;
//  padding: 0;
//}
//.over_right{
//  float: right !important;
//  display: inline;
//}
//.over_right .left{
//  float: left;
//  width: 99px;
//  font-size: 13px;
//  color: #333;
//  line-height: 60px;
//}
//.over_right span{
//  font-family: Arial;
//  font-size: 18px;
//  color: #94193f;
//}
//.over_right .main{
//  color: #6b6b6b;
//  float: left;
//  line-height: 58px;
//  font-size: 13px;
//  padding-right: 30px;
//}
//.over_right .main span{
//  color: #93193e;
//  font-size: 18px;
//  font-weight: bold;
//}
//.over_right .right{
//  float: right;
//}
//.over_right .right a{
//  background-color: #c41f3a;
//  color: #fff;
//  display: block;
//  font-size: 20px;
//  height: 60px;
//  line-height: 60px;
//  text-align: center;
//  text-decoration: none;
//  width: 110px;
//}
.cart-wrap{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 20px;
}
.cart-thead{
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px;
    padding: 5px 0;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
}

.cart-col{
    float: left;
}
.t-checkbox{
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
    width: 122px;
    padding-left: 11px;
}

.cart-checkbox input{
    margin-right: 5px;
}
.t-goods{
    width: 208px;
}

.t-props{
    width: 140px;
    height: 32px;
    padding: 0 20px;
    text-align: right;
}
.t-prices{
    width: 120px;
    padding-right: 40px;
    text-align: right;
    height: 32px;
}

.t-quantity{
    text-align: center;
    width: 80px;
}

.t-sum{
    width: 100px;
    padding-right: 40px;
    text-align: right;
}

.cart-item-list{
    margin-bottom: 20px;
}

.cart-item-list .shop{
    height: 30px;
    line-height: 30px;
    padding-left: 11px;
    font-weight: 700;
}
.shop .cart-checkbox{
    float: left;
}

.shop .shop-info{
    float: left;
    width: 538px;
}

.shop .shop-info a{
    display: block;
    margin-top: 6px;
    width: 54px;
    height: 18px;
}


.shop .shop-ex{
    float: right;
    font-weight: 400;
}
.shop .shop-ex span{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -3px 0 0 5px;
    vertical-align: middle;
}

.item-list{
    border-style: solid;
    border-width: 2px 1px 1px;
    border-color: #aaa #f1f1f1 #f1f1f1;
    background: #fff;
}

.item-head{
    height: 26px;
    padding: 5px 10px;
    overflow: hidden;
}

.item-head .header-left{
    width: 750px;
    line-height: 26px;
    float: left;
}

.header-left-p1{
    color: #666;
}
.header-left-p1 span{
    margin: 0 10px 0 5px;
    padding: 1px 10px;
    border: 1px solid #f48719;
    background: #f48719;
    color: white;
    position: relative;
}

.header-left-p1 span b{
    position: absolute;
    display: block;
    width: 5px;
    height: 6px;
    left: -1px;
    bottom: -5px;
}

.header-left-p2{
    margin-left: 20px;
    padding: 0 5px;
    border-radius: 2px;
    background: #e74649;
    color: white;
    display: inline-block;
    height: 19px;
    line-height: 19px;
}

.header-price{
    width: 100px;
    float: left;
    text-align: right;
}

.goods-item{
    padding: 0 10px 0 40px;
    
    position: relative;
}

.goods-item-sele{
    background: #fff4e8;
}

.goods-info{
    border-top: 1px solid #f1f1f1;
    overflow: hidden;
}

.cell{
    float: left;
}

.b-checkbox{
    position: absolute;
    left: 10px;
    width: 30px;
    height: 20px;
    padding: 15px 0 10px 0;
    
}

.goods-item .cart-checkbox input{
    position: absolute;
    z-index: 2;
}

.cart-checkbox .line-circle{
    position: absolute;
    left: 2px;
    top: -5px;
    display: block;
    width: 7px;
    height: 29px;
}

.goods-item .b-goods{
    width: 300px;
    padding: 15px 0 10px 0;
}

.b-goods .goods-name .goods-pic{
    width: 82px;
    height: 82px;
    margin-right: 10px;
    border: 1px solid #eee;
    float: left;
}
.b-goods .goods-name .goods-pic img{
    width: 80px;
    height: 80px;
}
.goods-d-info{
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}

.goods-ex{
    margin-top: 2px;
}

.goods-ex .promise{
    margin: 0 10px 0 0;
    display: block;
    min-height: 18px;
    line-height: 18px;
    margin-bottom: 2px;
}

.promise i{
    display: inline-block;
    width: 17px;
    height: 16px;
    vertical-align: middle;
}

.promise a{
    display: inline-block;
    padding: 1px 4px 0 7px;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
}

.b-props{
    height: 80px;
    padding: 15px 10px 0 10px;
    overflow: hidden;
}

.b-props .prop-text{
    width: 160px;
}

.b-price{
    width: 120px;
    padding: 15px 40px 10px 0;
    overflow: hidden;
    text-align: right;
}

.b-price .sales-promotion{
    display: block;
    width: 53px;
    border: 1px solid #f9d2d3;
    color: #e4393c;
    height: 18px;
    text-align: left;
    line-height: 17px;
    padding: 0 15px 0 8px;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
    float: right;
    overflow: hidden;
    position: relative;
}

.sales-promotion b{
    display: inline-block;
    width: 7px;
    height: 4px;
    position: absolute;
    right: 8px;
    top: 8px;
}

.b-quantity{
    width: 80px;
    padding: 15px 0 10px;
}

.b-quantity .quantity-form{
    position: relative;
    overflow: hidden;
    height: 20px;
    border: 1px solid #cacbcb;
}

.quantity-form a{
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 1px 0;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    float: left;
}
.quantity-form .quantity-down{
    border-right: 1px solid #cacbcb;
}

.quantity-form .quantity-add{
    border-left: 1px solid #cacbcb;
}


.quantity-form input{
    width: 44px;
    height: 22px;
    float: left;
    text-align: center;
    background: white;
}

.quantity-text{
    text-align: center;
    height: 20px;
    line-height: 20px;
}

.b-sum{
    width: 100px;
    height: 20px;
    padding: 15px 40px 15px 0;
    text-align: right;
}
.b-sum strong{
    color: #333;
    font-weight: 700;
    font-size: 14px;
}

.b-action{

    padding: 15px 0 10px 0;
}

.b-action a{
    display: block;
    width: 75px;
    height: 20px;
}

#cart-floatbar{
    width: 988px;
    height: 50px;
    border: 1px solid #f0f0f0;
    background: #fff;
    position: relative;
}

.select-all{
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 16px 0 16px 9px;
}

.operation{
    float: left;
    height: 50px;
    width: 310px;
    line-height: 50px;
}

.operation a{
    margin-left: 20px;
    display: inline-block;
    height: 50px;
    text-decoration: none;
    color: #444;
}

.toolbar-right{
    overflow: hidden;
}

.toolbar-right .btn-area{
    float: right;
    
}

.btn-area a{
    display: block; 
    width: 96px;
    height: 52px;
    background: url(../images/cart-submit-btn-new.png) no-repeat;
    
}

.price-sum{
    float: right;
    height: 43px;
    line-height: 20px;
    margin: 7px 20px 0 10px;
    color: #666;
    width: 220px;
}

.price-sum span{
    display: inline-block;
    width: 110px;
    height: 20px;
    float: left;
    text-align: left;
}

.price-sum .txt{
    text-align: right;
}

.price-sum .totalprice{
    font-size: 18px;
    color: #e4393c;
    font-weight: 700;
}

.amount-sum{
    float: right;
    color: #999;
    height: 44px;
    line-height: 20px;
    margin: 7px 0 0;
    cursor: pointer;
}

.amount-sum em{
    color: #e4393c;
    font-family: verdana;
    font-weight: 700;
    margin: 0 3px;
}

.amount-sum b{
    display: inline-block;
    width: 9px;
    height: 5px;
    vertical-align: middle;
    background: url(../images/cart-icons-new.png) no-repeat -45px -91px;
}

.tab .mt{
    margin-bottom: 10px;
    height: 23px;
    line-height: 23px;
}

.mt .tab-item{
    display: inline-block;
    height: 18px;
    margin-right: 35px;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
        
}
.mt .curr{
    color: #e4393c;
    font-weight: 700;
    border-color: #e4393c;
}




.mc{
    height: 326px;
    position: relative;
}

.mc .guess-products{
    position: absolute;
    width: 100%;
    height: 100%;
}

.mc .guess-products .goods-list-tab{
    position: absolute;
    right: 0;
    top: -26px;
    width: 60px;
}

.goods-list-tab .s-item{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 3px;
    overflow: hidden;
    background: #aaa;
    border-radius: 4px;
}
/*
.s-item:hover{
        width: 26px;
    background: #e4393c;
}*/

.goods-list-tab .tab-selected{
    width: 26px;
    background: #e4393c;
}

.guess-products .panel-main{
        width: 100%;
    height: 100%;
}


.guess-products .panel-main .goods-list{
    width: 100%;
    height: 100%;
    position: absolute;
}

.goods-list ul{
    width: 100%;
    height: 100%;
    overflow: visible;
}

.goods-list ul li{
    float: left;
    
}

.goods-list ul li .goodsinfo{
    position: relative;
    width: 206px;
    padding: 20px;
    background: #fff;
    margin: -1px 0 0 -1px;
    border: 1px dashed #cacaca;
    overflow: hidden;
}

.goods-list ul li .goodsinfo:hover{
    z-index: 2;
    border: 1px solid #E4393C;
}

.p-img{
    width: 160px;
    margin: 0 auto;
}
.goodsinfo .p-img img{
    vertical-align: middle;
    width: 160px;
    height: 160px;
    
}

.p-name{
    height: 36px;
    line-height: 18px;
    margin: 5px 0;
    overflow: hidden;
}

.p-price{
    width: 100%;
    margin: 5px 0 2px;
    overflow: hidden;
    text-align: center;
}
.p-price strong{
    font-size: 14px;
    color: #d91f20;
    font-family: verdana;
    font-weight: 400;
}

.p-btn{
    margin: 10px 0 0;
    text-align: center;
}

.p-btn a{
    display: inline-block;

    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border: 1px solid #999;
    color: #666;
    text-align: center;

    border-radius: 3px;
}

.p-btn a:hover{
    border: 1px solid #E4393C;
    background: #E4393C;
    color: white;
}

.p-btn b{
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    overflow: hidden;
    vertical-align: middle;
}

.favorite-products{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.favorite-products .favorite-products-main{
    margin-top: 10px;
    text-align: center;
    line-height: 326px;
}

.history-products{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}


.slider-page-btn{
    display: none;
}
.slider-page-btn a{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -31px;
    z-index: 3;
    display: block;
    width: 28px;
    height: 62px;
    line-height: 62px;
    background: gray;
    background: rgba(0,0,0,.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000);
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-family: simsun;
}

.left-btn{
    left: 0;
}
.right-btn{
    right: 0;
}

//-----------------------------test
.goods-list-tab .s-item{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 3px;
    overflow: hidden;
    background: #aaa;
    border-radius: 4px;
}
/*
.s-item:hover{
        width: 26px;
    background: #e4393c;
}*/

.goods-list-tab .tab-selected{
    width: 26px;
    background: #e4393c;
}

.guess-products .panel-main{
        width: 100%;
    height: 100%;
}


.guess-products .panel-main .goods-list{
    width: 100%;
    height: 100%;
    position: absolute;
}

.goods-list ul{
    width: 100%;
    height: 100%;
    overflow: visible;
}

.goods-list ul li{
    float: left;
    
}

.goods-list ul li .goodsinfo{
    position: relative;
    width: 206px;
    padding: 20px;
    background: #fff;
    margin: -1px 0 0 -1px;
    border: 1px dashed #cacaca;
    overflow: hidden;
}

.goods-list ul li .goodsinfo:hover{
    z-index: 2;
    border: 1px solid #E4393C;
}

.p-img{
    width: 160px;
    margin: 0 auto;
}
.goodsinfo .p-img img{
    vertical-align: middle;
    width: 160px;
    height: 160px;
    
}

.p-name{
    height: 36px;
    line-height: 18px;
    margin: 5px 0;
    overflow: hidden;
}

.p-price{
    width: 100%;
    margin: 5px 0 2px;
    overflow: hidden;
    text-align: center;
}
.p-price strong{
    font-size: 14px;
    color: #d91f20;
    font-family: verdana;
    font-weight: 400;
}

.p-btn{
    margin: 10px 0 0;
    text-align: center;
}

.p-btn a{
    display: inline-block;

    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border: 1px solid #999;
    color: #666;
    text-align: center;

    border-radius: 3px;
}

.p-btn a:hover{
    border: 1px solid #E4393C;
    background: #E4393C;
    color: white;
}

.p-btn b{
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    overflow: hidden;
    vertical-align: middle;
}

.favorite-products{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.favorite-products .favorite-products-main{
    margin-top: 10px;
    text-align: center;
    line-height: 326px;
}

.history-products{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}


.slider-page-btn{
    display: none;
}
.slider-page-btn a{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -31px;
    z-index: 3;
    display: block;
    width: 28px;
    height: 62px;
    line-height: 62px;
    background: gray;
    background: rgba(0,0,0,.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000);
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-family: simsun;
}

.left-btn{
    left: 0;
}
.right-btn{
    right: 0;
}

//---------------------------/test
//底部样式
.bottom_tu{
    margin-top: 20px;
}
.lan_nav {
  border-bottom: 4px solid #c1c1c1;
  overflow: hidden;
  padding-top: 16px; }

.w720 {
  width: 720px;
  margin: 0 auto;
  text-align: center; }

.lan_nav ul li {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding-right: 12px; }

.lan_nav li a {
  font-size: 12px;
  font-family: "宋体";
  color: #666666;
  text-decoration: none; }

.lan_nav li span {
  background: #dfdfdf none repeat scroll 0 0;
  height: 14px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 14px;
  background-color: #fff;
  border-right: 1px solid #a9a9a9; }

.footer {
  background-color: #fff;
  overflow: hidden;
  display: block;
  width: 100%; }

.footer .footer_box {
  width: 1200px;
  margin: 0 auto; }

.footer .footer_bottom p {
  padding-top: 10px;
  text-align: center;
  font-family: "宋体";
  color: #7e7e7e;
  line-height: 25px;
  font-size: 12px; }

.footer_bottom p span {
  font-family: Arial;
  color: #666666; }

.foot_p {
  padding: 30px 0 40px 0;
  margin-top: 20px; }
